<app-nav></app-nav>
<div class="container">
  <div class="col-12">
    <mat-card class="main mat-elevation-z8">
      <mat-card-title>
        New Contact
      </mat-card-title>
      <form>
        <mat-form-field>
          <mat-label>Person</mat-label>
          <mat-select [formControl]="comboPerson" [(ngModel)]="contacts.personId" required>
              <mat-option *ngFor="let person of persons" [value]="person.id">
                {{person.name}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="contacts.type" name="type" required>
          <mat-placeholder>Type</mat-placeholder>
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="contacts.value" name="value" required>
          <mat-placeholder>Value</mat-placeholder>
        </mat-form-field>
      </form>

      <button mat-raised-button (click)="createContacts()" class="mainButton">Save</button>
      <button mat-raised-button (click)="cancel()" class="secondaryButton">Cancel</button>
    </mat-card>
  </div>
</div>
